* {
  font-family: SF Pro Text;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(33, 33, 33, 0.85);
  padding: 10px;
  border-radius: 12px;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(41, 45, 46, 0.9);
}

#text {
  margin: 2px;
}
